@import "~src/framework";

.videos-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $colorBg1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  width: 400px;
  height: 400px;
}
