@import "~reset-css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  width: 100%; height: 100%;
}
body {
  position: relative;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

  * {
    box-sizing: border-box;
  }
}
